<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- head 中 -->
    <link rel="stylesheet" href="css/materialize.min.css">

    <title>使用说明</title>
</head>


<body style="padding: 20px">

<div class="card-panel">
    <span class="green-text text-darken-3" style="font-size:15px;">功能说明</span>
    <ul>
        <li class="red-text text-darken-2">● 强制停止脚本运行快捷键：连按3下Home键，或者下拉通知栏点击停止运行</li>
        <li class="red-text text-darken-2">● 若脚本几十秒内无反应为正常等待中，无需干预</li>
        <li class="red-text text-darken-2">● 若脚本超过1分钟无反应则为卡死，可强制停止运行</li>
        <li class="green-text text-darken-2">● 脚本正常退出时会有1s的振动</li>
        <li>● 部分新出的任务项会跳过，待版本更新后可以执行</li>
        <li>● 淘宝集肥料任务：</li>
        <ul>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;○ 不包括分享给好友;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;○ 不包括需要购买的;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;○ 包括队伍亲密值的肥料礼包领取；</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;○ 包括好友林；</li>
        </ul>
        <li>● 支付宝集肥料任务：</li>
        <ul>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;○ 不包括分享给好友;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;○ 不包括需要购买的;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;○ 不包括专属肥料礼包领取;</li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;○ 喂小鸡只简单点击饲料图标;</li>
        </ul>
    </ul>
</div>

<div class="card-panel">
    <span class="red-text text-darken-2" style="font-size:15px;">注意事项</span>
    <ul>
        <li>● 需提前注册并登录过手机淘宝，并玩过一次芭芭农场；</li>
        <li>● 适用于淘宝版本=9.22.1；</li>
        <li>● 需提前注册并登录过支付宝，并玩过一次芭芭农场；</li>
        <li>● 适用于支付宝版本=10.2.15；</li>
        <li>● 淘宝里的树为一棵免费领水果的树和一个新种子；</li>
        <li>● 淘宝芭芭农场需加入一个队伍；</li>
        <li>● 支付宝首页需要固定芭芭农场快捷入口；</li>
        <li>● 建议提前打开淘宝，并退出到淘宝首页，再退出应用程序，使得淘宝在后台；</li>
        <li>● 建议提前清理内存，加快程序运行；</li>
        <li>● 不要在12点左右运行，服务器会出bug；</li>
        <li>● 推荐淘宝设置：
            <ul>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;○ 通用</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-视频自动播放：关闭</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-截屏后出现分享窗口：关闭</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-首页摇一摇：关闭</li>
            </ul>
        </li>
    </ul>
</div>

<div class="card-panel">
    <span class="blue-text text-darken-2" style="font-size:15px;">关于</span>
    <div class="black-text">程序版本号=1.0.0.9221</div>
    <div class="black-text">欢迎联系：betterlife_2021@126.com</div>
    <div class="grey-text">对于不遵守此声明或者其他违法使用本程序者，作者依法保留追究权等。</div>
</div>


<!-- body 最后 -->
<script src="htmljs/jquery.min.js"></script>
<script src="htmljs/materialize.min.js"></script>
</body>


</html>